body {
    margin: 0;
    padding: 0;
    background-image: url(C:\Users\Usuario\images\Yankee.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Roboto', Arial, sans-serif;
}

.container {
    background-color: #9628;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #9628;
    margin-bottom: 30px;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 0px;
    background-color: #9628;
}